body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #f0f2f5;
  color: #333;
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
h1, h2 {
  text-align: center;
  color: #2d3436;
}
form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 8px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
input {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}
button {
  padding: 10px 20px;
  background-color: #0984e3;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}
button:hover {
  background-color: #0561a3;
}
.table-container {
  background: #fff;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px ;
  overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 14px 16px;
  border-bottom: 1px solid #eee;
  text-align: left;
}
th {
  background-color: #2d3436;
  color: white;
}
